<input type="number" name="brewHours" (ngModelChange)="hoursChanged($event)" [(ngModel)]="timer.hours" placeholder="Hours"> Hours<br>
<input type="number" name="brewMinutes" (ngModelChange)="minutesChanged($event)" [(ngModel)]="timer.minutes" placeholder="Minutes"> Minutes<br>
<input type="number" name="brewSeconds" (ngModelChange)="secondsChanged($event)" [(ngModel)]="timer.seconds" placeholder="Seconds"> Seconds<br>
<countdown #cd [config]="config"></countdown><br>
<button (click)="startTimer()"><span *ngIf="isTimerPaused">Start</span> <span *ngIf="!isTimerPaused">Pause</span></button>
<button (click)="restartTimer()">Restart</button>
<button (click)="clearTimer()">Clear</button><br>
<span *ngIf="isBrewComplete">Brew Complete!</span>